body {
  font-family: Georgia, "Times New Roman",
        Times, serif;
  background-color: #0000ff}

h1 {color: aqua;
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif; font-weight: bold }

h2 {font-size: 48; font-weight:bold; color:#3399ff; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}

h3 {color: aqua;
        font-family: Helvetica, Geneva, Arial,
              SunSans-Regular, sans-serif }

p  {color:#3399ff; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}
         
a:link {color: aqua }